body{
    background: #212121;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF;
    background: url('../background.jpg') no-repeat center;
    background-size: cover;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
    height: 100%;
    padding: 0;
}

.jsContent{
    background: #212121e0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jsContent p{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.jsContent label{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    display: block;
    padding: 0;
    margin: 0 0 2px 0;
}
.jsContent.alt label{
    display: inline-block;
}
.jsContent input{
    background: #21212150;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
}
.jsContent.alt input{
    width: 25px;
    margin: 10px;
}
.jsContent input::placeholder{
    color: #ffffff40;
}
.jsContent input[type=submit], .jsContent button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: #0a80f7;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    margin: 0;
}
.jsContent input[type=submit]:hover, .jsContent button:hover{
    background: #0665c4;
}
.jsContent h2{
    margin: 0;
    padding: 0;
}

.dniContainer, .sueldoContainer{
    transition: all .5s;
}

.dniContainer:hover, .sueldoContainer:hover{
    transform: scale(1.5);   
}

.dniMensaje h1, .sueldoMensaje h1{
    color: #2eca55;
    font-size: 64px;
    padding: 0 20px;
    margin: 0 0 5px 0;
}
.dniMensaje p, .sueldoMensaje p{
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    background: #FFF;
    padding: 3px 10px;
    border-radius: 100px;
}

.modal{
    position: absolute;
    width: 600px;
    height: 300px;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 20px;
    transform: translateX(-100vw);
    transition: all .5s;
    box-sizing: border-box;
}

.modal.visible{
    transform: translateX(0);
}

.modal h1{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.modal p{
    margin: 0;
    padding: 0;
}

.modal .close{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 30px;
    background: indianred;
    border-radius: 5px 0 20px 0;
    transition: all 1s;
    cursor: pointer;
    font-weight: 600;
}
.modal .close:hover{
    background: #9b4242;
    padding: 10px 40px;
}

#numero{
    font-size: 128px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.calculadora{
    background: #161a20;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    box-sizing: border-box;
    position: relative;
}

.calculadora p{
    grid-column: 1/5;
    background: #20252e;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 2px;
    font-size: 24px;
    overflow: hidden;
    cursor: default;
}

.calculadora button{
    border: none;
    font-size: 24px;
    border-radius: 2px;
    background: #242933;
    color: #CBE1FF;
    transition: all .25s;
    cursor: pointer;
}
.calculadora button:hover{
    background: #1d2129;
}

.calculadora button.operador{
    background: #0060E5;
}
.calculadora button.operador:hover{
    background: #004bb5;
}

.calculadora button.accion{
    background: #363E4D;
}
.calculadora button.accion:hover{
    background: #282e39;
}

.terminos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: -60px;
    width: 100%;
    gap: 10px;
    position: absolute;
}

.terminos p{
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161a20;
}